<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a class="logo logo-dark" routerLink="/">
          <span class="logo-sm">
            <img alt="" height="22" src="assets/images/logo.svg">
          </span>
          <span class="logo-lg">
            <img alt="" height="17" src="assets/images/logo-dark.png">
          </span>
        </a>

        <a class="logo logo-light" routerLink="/">
          <span class="logo-sm">
            <img alt="" height="60" src="assets/images/logo-light.png">
          </span>
          <span class="logo-lg">
            <img alt="" height="60" src="assets/images/logo-light.png">
          </span>
        </a>
      </div>

      <button (click)="toggleMobileMenu($event)" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn"
              type="button">
        <i class="fa fa-fw fa-bars"></i>
      </button>


    </div>

    <div class="d-flex">


      <div class="dropdown d-none d-lg-inline-block ms-1">
        <button (click)="fullscreen()" class="btn header-item noti-icon" data-toggle="fullscreen" type="button">
          <i class="bx bx-fullscreen"></i>
        </button>
      </div>


      <div class="dropdown d-inline-block" ngbDropdown>
        <button class="btn header-item" id="page-header-user-dropdown" ngbDropdownToggle type="button">
          <img alt="Header Avatar" class="rounded-circle header-profile-user" src="assets/images/users/placeholder.jpg">
          <span class="d-none d-xl-inline-block ms-1">{{ user.userFirstName }} {{ user.userLastName }}</span>
          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <!--<a class="dropdown-item" href="javascript: void(0);"><i
            class="bx bx-lock-open font-size-16 align-middle me-1"></i>
            {{ 'HEADER.LOGIN.LOCK_SCREEN' }}</a>
          <div class="dropdown-divider"></div>-->
          <a (click)="logout()" class="dropdown-item text-danger" href="javascript: void(0);"><i
            class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
            Logout</a>
        </div>
      </div>

    </div>
  </div>
</header>
